@charset "ISO-8859-1";

.warning{
	color: red;
	font-size: 75%;
	display: none;
}

.errorMessage{
	color: red;
	display: none;
}

.form-input{
	
}

p{
	text-align: justify;
	margin: 2px 5px;
}

input:focus{
	background-color: yellow;
}

button.edit{
	width: 42px;
	height: 26px;
	background: url("../img/edit.png") no-repeat;
	background-position: center;
	background-color: #00cc00;
}

button.delete{
	width: 42px;
	height: 26px;
	background: url("../img/delete.png") no-repeat;
	background-position: center;
	background-color: #ff0000;
}

h1{
	font: calibri;
	font-weight: bold;
}