@charset "ISO-8859-1";

.custom-insert-city-btn {
	display: block !important;
	width: 33%;
	margin: auto;
}

.warning {
	color: red;
	font-size: 75%;
	display: none;
}

.errorMessage {
	color: red;
	display: none;
}

p {
	text-align: justify;
	margin: 2px 5px;
}

input:focus {
	background-color: yellow;
}

button.edit {
	width: 42px;
	height: 26px;
	background: url("../img/edit.png") no-repeat;
	background-position: center;
	background-color: #00cc00;
}

button.delete {
	width: 42px;
	height: 26px;
	background: url("../img/delete.png") no-repeat;
	background-position: center;
	background-color: #ff0000;
}

h1 {
	font: calibri;
	font-weight: bold;
}

@media ( max-width : 768px) {
	.custom-insert-city-btn {
		width: 90%;
	}
}